.main-wrapper {
  display: flex;
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
}

.main-wrapper h1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  color: gray;
}

.type-writer {
  font-size: 3rem;
  font-weight: 600;
  color: gray;
  margin-top: 2%;
}

@media (max-width: 480px) {
  .type-writer {
    font-size: 1.8rem;
    font-weight: 600;
    color: gray;
    margin-top: 3%;
  }

  .main-wrapper h1 {
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    color: gray;
  }

  .site-explain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    height: 100%;
    color: black;
  }
}

.site-explain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  color: black;
}

.site-explain h2 {
  color: black;
  font-weight: bold;
  padding-bottom: 13px;
}
