.logo {
  color: white;
  font-size: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100%;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.avatar h3 {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

@media (max-width: 480px) {
  .avatar h3 {
    font-size: 13px;
    color: white;
    font-weight: bold;
  }
}
