.check-outlined:hover {
  color: green !important;
}

.close-outlined:hover {
  color: red !important;
}

.delete-outlined:hover {
  color: darkred !important;
}

.edit-outlined:hover {
  color: teal !important;
}

.info-outlined:hover {
  color: dodgerblue !important;
}
